extends layout

block content
  h1= title
  p Welcome to #{title}
  a(class='button', href='/spotifyLogin').
        Log in to Spotify
  a(class='button', href='/facebookCallback').
        Log in to Facebook