extends layout

block content
  h1= title
  p Welcome to #{title}
  a(class='button', href='/spotifyLogin').
        Log in to Spotify <br />
  a(class='button', href='/facebookCallback').
        Log in to Facebook
  ul
    each user, i in userlist
        li
            a(href="mailto:#{user.email}")= user.username